
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    background-color: #2a263d;
}

.container{
    min-width: 70%;
    background: linear-gradient(47deg, #f7069b54, #0a95d669);
    backdrop-filter: blur(60px);
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 1em;
}

.container h1{
    color: #fff;
    margin: 0 0 0.5em 0;
}

.container .title-input{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
}

.title-input input{
    width: 80%;
    border: none;
    padding: 0 1em;
    font-weight: 200;
    font-size: 2em;
    border-radius: 5px 0 0 5px;
    background-color: rgba(255, 255, 255, 0.123);
    color: #fff;
}

.title-input input::placeholder{
    color: #fff;
}

.title-input button{
    border-radius: 0 5px 5px 0;
    font-size: 1.6em;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 20%;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(45deg, #e912f0, #00d3f8, #14a6e9, #187cee);
}

.title-input button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#todos{
    margin-top: 2em;
    display: none;
}

#todos li{
    background-color: #ffffff17;
    height: 70px;
    margin-bottom: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    padding: 0 0.6em;
    color: #fff;
    text-transform: capitalize;
}

#todos li i{
    height: 50px;
    width: 20px;
    padding: 0 1em;
    font-size: 0.5em;
    background-color: #f543438f;
    border: 1px solid #f02727;
    color: #ffabab;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* Responsive */
@media screen and (max-width: 550px) {
    body{
        padding: 0;
    }

    .container{
        width: 90%;
    }

    .title-input input{
        font-size: 1.3em;
    }

    .title-input button{
        font-size: 1em;
    }

    #todos li{
        font-size: 1.3em;
        overflow-x: scroll; 
    }

}